#progress-bar {
	height: 40px;
	background: url(/images/progress-cont-bg.png) top left repeat-x;
	width: 100%;
	overflow: hidden;
	-moz-border-radius: 				15px !important;
	-webkit-border-radius: 				15px !important;
	border-radius: 						15px !important;	
}

#progress {
	height: 40px;
	background: url(/images/progress_bg.png) top left repeat-x;
	width: 100%;
	-moz-border-radius: 				15px !important;
	-webkit-border-radius: 				15px !important;
	border-radius: 						15px !important;
}

#habit-index-list p {
	font-size: 15px;

	margin-top: -14px;
	color: #AAA;
	float: right;
}


.ui-body-z .checked-in {
	border: 1px solid  #2f5d20;
	background: #478931 !important;
	color: #FFF !important;
	text-shadow: 0 -1px 0 #222;
}

.small-progress-bar {
	height: 10px;
	background: url(/images/progress-cont-bg.png) top left repeat-x;
	width: 70%;
	overflow: hidden;
	-moz-border-radius: 				15px !important;
	-webkit-border-radius: 				15px !important;
	border-radius: 						15px !important;	
}

.small-progress {
	height: 10px;
	background: url(/images/progress_bg.png) top left repeat-x;
	width: 100%;
	-moz-border-radius: 				15px !important;
	-webkit-border-radius: 				15px !important;
	border-radius: 						15px !important;					
}

#goal-label {
	color: #AAA;
	text-shadow: none;
}

#login h1 {
	text-align: center !important;
}

#login .ui-body-c {
	background: #e4eaed !important;
}

.ui-bar-a .ui-btn-inner {
	border: 0;
	color: #999;
}

.ui-bar-a .ui-btn {
	border: 0;
	box-shadow: none;
}

.ui-bar #challenge {
	background: url(/images/challenge.png) 25px 2px no-repeat;
	padding-top: 35px !important;
}

.ui-bar #habits {
	background: url(/images/habits.png) 15px 2px no-repeat;
	padding-top: 35px !important;
}

.ui-bar #profile {
	background: url(/images/profile.png) 13px 2px no-repeat;
	padding-top: 35px !important;
}

.ui-bar #settings {
	background: url(/images/settings.png) 15px 2px no-repeat;
	padding-top: 35px !important;
}