


<% if true #not current_user.nil? %>


<div data-role="page" id="ome" class="custom-page" data-theme="z"> 
	<div data-role="header" data-theme="z">
		<h1 class="ui-title" role="heading" >Habitful</h1>
		<a href="#" class="ui-btn-right" data-icon=""/>Logout</a>			
	</div> 
	<div data-role="content" data-theme="z">	

	</div>
	<div data-role="footer" class="ui-bar" data-theme="a">
		<a id="habits" href="/habits">Habits</a>
		<a id="challenge" href="#">Challenge</a>
		<a id="profile" href="#">Profile</a>
		<a id="settings" href="settings">Settings</a>						
	</div>	
</div>
 

<% else %>


<div data-role="page" id="login"data-theme="z"> 
	<div data-role="header" data-theme="z">
		<h1 style="" class="ui-title" role="heading" >Habitful</h1>
		<a href="#" class="ui-btn-right" data-icon=""/>Logout</a>			
	</div> 
	<div data-role="content" data-theme="c">	
		<h2>Create Habits. Break Bad Ones.</h2>
		<center>
		<%= link_to image_tag("/images/facebook-button.png"), user_omniauth_authorize_path(:facebook), :id => "facebook-login", :rel => "external" %> 	
		</center>	
	</div>
</div>


<% end %>