<div data-role="page" id="index" class="custom-page" data-theme="z"> 
	<div data-role="header" data-theme="z">
		<h1 class="ui-title" role="heading" ><img src="/images/logo.png" /></h1>
		<a href="/habits/new" class="ui-btn-right" data-icon="add"/>Add</a>			
	</div> 
	<div data-role="content" data-theme="d">	
		<ul data-role="listview" data-theme="index" id="habit-index-list">
			<% @habits.each do |h|%>
				<li>
					<a href="/habits/<%= h.id %>">
						<h2><%= h.name %></h2>
						<p>Streak: <%= h.checkins.length %> / <%= h.days %></p>
						<div class="small-progress-bar">
							<div style="width: 20%" class="small-progress"></div>
						</div>
	
					</a>
				</li>
			<% end %>
		</ul>
		<% if @habits.empty? %>
			<h2>Add Some Habits</h2>
		<% end %>
	</div>
	
	<div data-role="footer" class="ui-bar" data-theme="a" data-position="fixed" >
		<a class="habits <% 'selected' if cur_host.include? "/habits"  %>" href="/habits">Habits</a>
		<a class="challenge" href="/challenges">Challenge</a>
		<a class="profile" href="#">Profile</a>
		<a class="settings" href="settings">Settings</a>						
	</div>	
	
</div>
