<div data-role="page" id="new" data-theme="z" data-add-back-btn="true"> 
	<div data-role="header" data-theme="z">
		
		<h1 class="ui-title" role="heading" >New Habit</h1>
				
	</div> 
	<div data-role="content" data-theme="c" >	
		
		<form action="/habits" method="post" name="habit" id="new_habit_form">
		
		<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
	        <label for="name" class="ui-input-text">Habit Name:</label>
	        <input type="text" name="habit[name]" id="habit-name-field"  class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
		</div>
		<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
	        <label for="days" class="ui-input-text"># of Days:</label>
	        <input type="text" name="habit[streek]" id="habit-days-field"  class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
		</div>	
			
		<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
	   		<button id="add_habit">Add Habit</button>
		</div>
		
		</form>
				
	</div>
</div>
