<div data-role="page" id="new"> 
	<div data-role="header" data-theme="z">
		<h1 class="ui-title" role="heading" >New Habit</h1>
				
	</div> 
	<div data-role="content">	
		<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
	        <label for="name" class="ui-input-text">Habit Name:</label>
	        <input type="text" name="name" id="name" value="" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
		</div>
		<div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
	        <label for="name" class="ui-input-text"># of Days:</label>
	        <input type="text" name="days" id="days" value="" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
		</div>		
	</div>
</div>
