<div data-role="page" id="show" data-theme="z" data-add-back-btn="true"> 
	<div data-role="header" data-theme="z">
		<h1 class="ui-title" role="heading" ><img src="/images/logo.png" /></h1>
	</div> 
	<div data-role="content" data-theme="d">
			<h2><%= @habit.name %></h2>
			<h4 id="goal-label">Goal: <%= @habit.days %> <%= @habit.days == 1 ? "Day" : "Days" %></h4>
			
			<button data-habit-id="<%= @habit.id %>" class="checkin-btn" data-theme="e">I Did This!</button>
			
			<h3>Progress for this goal:</h3>
			<div id="progress-bar">
				<div style="width: 20%" id="progress"></div>
			</div>
			
			
	</div>
	
	<div data-role="footer" class="ui-bar" data-theme="a" data-position="fixed">
		<a class="habits <% 'selected' if cur_host.include? "/habits"  %>" href="/habits">Habits</a>
		<a class="challenge" href="#">Challenge</a>
		<a class="profile" href="#">Profile</a>
		<a class="settings" href="settings">Settings</a>						
	</div>	

	<script type="text/javascript" charset="utf-8">
		$('.checkin-btn').click(function() {
			var _this = $(this);
			if ( !_this.hasClass('checked-in') ) {
				var id = $(this).attr('data-habit-id');
				$.post('/habits/'+id+'/checkin', function(data) {
					if ( data.status == 202 ) {
						_this.parent().find('.ui-btn-text').text("Completed!");
						_this.parent().addClass('checked-in');
						$("#progress").animate({
							width : "30%"
						}, 500);
					}
				});				
			}
		});
	</script>
</div>
